.listStyle {
    width: 100%;
}

.listStyle .event-info {
    width: 75%;
    float: left;

    margin: 5px 0;
    padding: 5px 0;

}

.listStyle .remove-info {
    text-align: center;
    width: 20%;
    float: right;

    margin: 5px;
    padding-right: -10px;
}

.listStyle .date {
    text-align: center;
    float: left;
    width: 5%;
    min-width: 120px;
    margin-right: 10px;
}

.listStyle .info {
    max-width: 70%;
    min-width: 180px;
    width: 55%;
    float: left;
    font-size: 1em;
}